:root{
    --red: hsl(4, 100%, 67%);
    --red100: hsl(2, 100%, 95%);
    --blue700: hsl(235, 18%, 26%);
    --blue800: hsl(234, 29%, 20%);
    --grey: hsl(0, 0%,58%);
    --white: hsl(0, 0%, 100%);
    --border-radius: 0.5rem;
    --container-sm: 23.438rem;
    --container-md: 38rem;

    --wrapper-sm: 20.438rem;
    --wrapper-md: 33rem;
}
body{
    margin: 0;
    height: 100vh;
    background-color: var(--blue700);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;  
}

.image-block{
    /* width: 100%; */
}
.image-block picture img{
    display: flex;
    justify-self: center;
}

.main-container{
    background-color: var(--white);
    margin: auto;
    width: min(100%, var(--container-sm));
    border-radius: 1.5rem;
}
.main-wrapper{
    width: min(90%, var(--wrapper-sm));
    margin: auto;
}
h1{
    margin: 0;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--blue800);
}
p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--blue800);
    margin: 1.5rem 0;
}
.preim-list{
    list-style: none;
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--blue800);
    padding: 0;
    list-style-position: inside;
}
.preim-list li{
    display: grid;
    grid-template-columns: 1.313rem 1fr;
    gap: 1rem;
    margin: 0.5rem 0;
}
.preim-list li::before{
    content: "";
    grid-column: 1;
    width: 1.313rem; 
    height: 1.313rem;
    background: url(assets/images/icon-list.svg) center/cover no-repeat;
    margin-top: 0.05em;
}


.label, #email-error{
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.5;
    color: var(--blue800);
    margin: 2rem 0 0.5rem;
}
input:focus { outline: none; box-shadow: none; }
.email-input{
    padding: 1rem 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: var(--border-radius);
    margin-bottom: 1.5rem;
    grid-column: 1 / -1;
}
.input-error{
    color: var(--red);   
    border: 1px solid var(--red);
    background-color: var(--red100);
}

.main-block{
    display: grid;
    margin-top: 2.5rem;
}
#form{
    display: grid;
}
.form-el{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.submit-btn{
    font-family: Roboto, sans-serif;  
    font-weight: 700;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--blue800);
    padding: 1.2rem 2rem;
    border: 0;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
}


#email-error{
    color: var(--red);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.5;
    justify-self: flex-end;
}

@media (min-width:48rem) {
    .main-container{
       width: 100%;
       padding: 1.5rem;
    }
    .main-wrapper{
        width: var(--wrapper-md);
    }
    h1{
        font-size: 3.5rem;
    }
    .label, #email-error{
        margin: 1.5rem 0 0.5rem;
    }
    #email{
        margin-bottom: 1rem;
    }
    .submit-btn{
        margin-bottom: 0;
    }
    
}

@media (min-width:90rem) {
    .main-container{
       width: min(100%, 56.5rem);
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       padding: 2rem 0;
    }
    .main-wrapper{
        width: 85%;
        grid-column: 1;
        grid-row: 1;
    }
    .image-block{
       grid-column: 2; 
    }
    p{
        margin: 2rem 0;
    }
    .label, #email-error{
        margin: 2rem 0 0.5rem;
    }
    .submit-btn:hover{
        --c1:#FF6A3A;
        --c2:#FF527B;
        background: linear-gradient(90deg,var(--c1) 0%,var(--c2) 100%);
    }
}